BODY {
    font-family: Arial, Verdana, Helvetica; 
  	font-size: 13px;
}

.general {
      font-family: arial; 
  	  width: 630px;
  	  margin: 0px auto;
      background: #FFF;
      box-shadow: 0px 0px 6px 6px #E6E6E6;
}

#content {
    padding: 30px;
}

#content ul li {
  	line-height: 20px;
    list-style-type: none;
    font-size: 14px;
  	padding-bottom: 7px;
    background: url(/alerts/images/arrow.png) no-repeat;
}

#content ul li a {
  	text-decoration: none;
  	color: rgba(0, 0, 0, 0.61);
  	padding-left: 20px;
}

#content ul li a:hover {
  	text-decoration: underline;
  	color: #069;
}

#content ul {
    border-bottom: 1px solid #ded5d5;
    padding-bottom: 10px;
    padding-left: 10px;
}

H1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #922900;
    font-size: 140%;
}

H1 A {
  	color: #000066;
  	xtext-decoration: none;
  	margin-top: 150px;
}

H2 {
    font-family: Verdana, Geneva, sans-serif;
    color: #1f76a9;
    font-size: 120%;
    margin: 5px 0px 3px 0px;
}

H3.subTitle {
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    font-size: 100%;
}

.leftSide {
  	font-size: 9pt;
}

.leftSide H2 {
  	font-size: 160%;
  	margin-top: 10px;
}

H3 {
    font-family: Verdana, Geneva, sans-serif;
   	color: #900;
   	font-size: 140%;
    margin: 0px 0px 5px 0px;
}

H4 a {
  	font-family: Arial;
    color: #900;
   	font-size: 150%;
}

H5 {
  	font-family: Verdana, Geneva, sans-serif;
    color: #4A4A4A;
   	font-size: 110%;
    margin: 5px 0px 0px 0px;
  	font-weight: normal;
}

H6 {
  	font-family: Verdana, Geneva, sans-serif;
    color: #2b5353;
   	font-size: 140%;
    margin: 0px 0px 5px 0px;
}

H6 span {
  	font-family: Verdana, Geneva, sans-serif;
    color: #d26106;
   	font-size: 90%;
    margin: 0px 0px 5px 0px;
}

.link {
    font-family: Verdana, Geneva, sans-serif;
    color: #069;
    font-size: 110%;
  	*font-size: 130%;
    margin: 5px 0px 3px 0px;
  	font-weight: bold;
}


P {
    margin: 0px 0px 0px 0px;
}

.head {
	font-family: Arial;
	position: relative;
	margin: 0px auto;
	width: 630px;
	text-align: right;
	margin-bottom: 5px;
}

#header {
  	height: 132px;
}

#header h1 {
  	display: none;
}

body.pt #header {
    background: url(/alerts/images/pt/banner_top_alerta.png) no-repeat;
}

body.es #header {
    background: url(/alerts/images/es/banner_top_alerta.png) no-repeat;
}

body.en #header {
    background: url(/alerts/images/en/banner_top_alerta.png) no-repeat;
}

#footer {
    text-align: center;
    padding-bottom: 3em;
}