BODY {
    font-family: Arial, Verdana, Helvetica; 
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5b;
}

.general {
    font-family: arial; 
    width: 529px;
    margin: 0px auto;
    background: #FFF;
    border: 1px solid #ded5d5;
    box-shadow: 0 0 6px 6px #E6E6E6;
}

#content {
    padding: 10px 30px;
}

#content ul li {
    line-height: 20px;
    list-style-type: none;
    font-size: 14px;
    padding-bottom: 7px;
    background: url(http://alertas.platserv.bvsalud.org/alerts/images/arrow.png) no-repeat;
}

#content ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.61);
    padding-left: 20px;
}

#content ul li a:hover {
    text-decoration: underline;
    color: #069;
}

#content ul {
    border-bottom: 1px solid #ded5d5;
    padding-bottom: 10px;
    padding-left: 10px;
}

H1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #922900;
    font-size: 16px;
}

H1 A {
    color: #000066;
    text-decoration: none;
    margin-top: 150px;
}

H2 {
    font-family: Verdana, Geneva, sans-serif;
    color: #1f76a9;
    font-size: 14px;
    margin: 5px 0px 3px 0px;
}

H3.subTitle {
    font-family: Verdana, Geneva, sans-serif;
    color: #666;
    font-size: 100%;
}

.leftSide {
    font-size: 9pt;
}

.leftSide H2 {
    font-size: 160%;
    margin-top: 10px;
}

H3 {
    font-family: Verdana, Geneva, sans-serif;
    color: #900;
    font-size: 140%;
    margin: 0px 0px 5px 0px;
}

H4 a {
    font-family: Arial;
    color: #900;
    font-size: 150%;
}

H5 {
    font-family: Verdana, Geneva, sans-serif;
    color: #4A4A4A;
    font-size: 110%;
    margin: 5px 0px 0px 0px;
    font-weight: normal;
}

H6 {
    font-family: Verdana, Geneva, sans-serif;
    color: #2b5353;
    font-size: 140%;
    margin: 0px 0px 5px 0px;
}

H6 span {
    font-family: Verdana, Geneva, sans-serif;
    color: #d26106;
    font-size: 90%;
    margin: 0px 0px 5px 0px;
}

P {
    margin: 0px 0px 0px 0px;
}

.head {
    font-family: Arial;
    position: relative;
    margin: 0px auto;
    width: 630px;
    text-align: right;
    margin-bottom: 5px;
}

#header h1 {
    display: none;
}

#footer {
    padding: 10px 28px;
}

#footer p {
    font-size: 11px;
    line-height: 13px;
}

#footer .links {
    font-size: 9px;
    text-align: center;
}